@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Silkscreen:wght@400;700&display=swap');

/*configuracao geral das paginas*/
:root {
    --fonte--primaria: "Poppins", sans-serif;
    --fonte--secund치ria: "Inter", sans-serif;
    --fonte--personalizada: "Silkscreen", sans-serif; 
    --cor--background: #EDE6DD;
    --cor--textos: #333333;
    --cor--destaques:#7C4DFF;
    --cor--hoverlinks: #6b4eff;
}
body {
    background-color: var(--cor--background); 
    max-width: 100%;
}
header {
    text-align: right;
    font-family: var(--fonte--secund치ria);
    font-size: 20px;
    padding: 10px;
}
a {
    margin: 40px;
    text-decoration: none;
    color: var(--cor--textos);
}
a:hover {
    color: var(--cor--hoverlinks);
    text-decoration: none;
}
h3 {
    color: var(--cor--textos);
    font-weight: 400;
    font-size: 40px;
    font-family: var(--fonte--primaria);
    text-align: center;  /*todos os subtitulos*/
}
/*home*/
h1 {
    font-family: var(--fonte--primaria);
    font-weight: 600;  
    font-size: 3.5em;
}
h2 {
    font-family: var(--fonte--secund치ria);
    font-weight: 400;
}
h1, h2 {
    text-align: right;
    position: relative;
    bottom: 300px;
    right: 100px;
    color: var(--cor--textos);
}  
 h1 > strong {
    color: var(--cor--destaques);
    font-family: var(--fonte--personalizada);
}
img {
    max-width: 400px;
    margin-left: 100px;
    margin-top: 100px;  
}
footer > p {
    font-size: 15px;
}

/*Pagina sobre mim abaixo*/

#sobremim > h3 {
    color: var(--cor--background);
} 
#sobremim {
    width: 570px;
    height: 700px;
    background-image: linear-gradient(to bottom, rgb(18, 18, 21) 50%, #201442 , #3f287d);
    border-radius: 25px;
    margin: auto;
    box-shadow: 3px 5px 5px 4px #636262;
}
#quemsou {
    list-style-type: disc;      
    list-style-position: inside; 
    margin: 20px;                    
    color: var(--cor--background);   
    font-family: var(--fonte--secund치ria);
    font-size: 20px;
    line-height: 1.6;
}

#quemsou li {
    margin-bottom: 10px;      
}

/*Pagina de tecnologias*/
#minhastecnologias > h3 {
    margin-bottom: 200px;
}
#minhastecnologias > img {
 position: relative;
 left: 190px;
 bottom: 120px;
 max-width: 200px;
 margin: 50px;
}
/* Pagina de contato*/

#gmail > a {
  font-size: 20px;
  position: relative;
  top: 10px;
  left: 490px;
}
p { 
    text-align: center;
    font-family: var(--fonte--primaria);
    font-weight: 200;
    font-size: 23px;
    max-width: 600px;
    margin: auto;
    position: relative;
    bottom: 10px;
    right: 20px;
}
#redessociais > a > p > img {
 margin: 15px;
 width: 30px;
 height: 30px;
 position: relative;
 left: 10px;
 top: 20px;
}
