@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Silkscreen:wght@400;700&display=swap');


:root {
    --fonte--primaria: "Poppins", sans-serif;
    --fonte--secundária: "Inter", sans-serif;
    --fonte--personalizada: "Silkscreen", sans-serif; 
    --cor--background: #EDE6DD;
    --cor--textos: #333333;
    --cor--destaques:#7C4DFF;
    --cor--hoverlinks: #6b4eff;

}
body {
    background-color: var(--cor--background); 
    max-width: 100%;
}
header {
    text-align: right;
    font-family: var(--fonte--secundária);
    font-size: 20px;
    padding: 10px;
   

}
a {
    margin: 40px;
    text-decoration: none;
    color: var(--cor--textos);
}
a:hover {
    color: var(--cor--hoverlinks);
    text-decoration: none;
}
h1 {
    font-family: var(--fonte--primaria);
    font-weight: 600;  
    font-size: 3.5em;
}
h2 {
    font-family: var(--fonte--secundária);
    font-weight: 400;
}
h1, h2 {
    text-align: right;
    position: relative;
    bottom: 300px;
    right: 100px;
    color: var(--cor--textos);
}  
 h1 > strong {
    color: var(--cor--destaques);
    font-family: var(--fonte--personalizada);
}
img {
    max-width: 400px;
    margin-left: 100px;
    margin-top: 100px;  
}
#principal {
  position: absolute;
}
h3{
    color: var(--cor--textos);
    font-weight: 400;
    font-size: 40px;
    font-family: var(--fonte--primaria);
    text-align: center;
}
#sobremim > h3 {
    color: var(--cor--background);
} 


h5 {
    color: var(--cor--textos);
    font-size: 50px;
    font-family: var(--fonte--secundária);
    font-weight: 400;
    text-align: center;
}


p {
   
    text-align: center;
    font-family: var(--fonte--secundária);
    font-weight: 200;
    font-size: 23px;
    max-width: 600px;
    margin: auto;
    position: relative;
    bottom: 60px;
    right: 40px;
}
#redessociais {
    position: absolute;
}
#redessociais > a > img {
 
 width: 30px;
 height: 30px;
 position: relative;
 left: 580px;
 bottom: 45px;
}
#sobremim {
    width: 580px;
    height: 700px;
    background-color: var(--cor--destaques);
    border-radius: 25px;
    margin: auto;
}
#quemsou {
    list-style-type: disc;      
    list-style-position: inside; 
    margin: 20px 40px;                    
    color: var(--cor--background);   
    font-family: var(--fonte--secundária);
    font-size: 20px;
    line-height: 1.6;
}

#quemsou li {
    margin-bottom: 10px;      
}

#minhastecnologias > img {
 position: relative;
 left: 490px;
 max-width: 60px;
 margin: 20px;
}
footer {
    color: var(--cor--textos);
    text-align: center;
    padding-bottom: 250px;
    padding-top: 200px;
}
